
footer.bg-white
  // footer main
  .footer-main.pt-lg-0.pt-4
    .container
      .row
        .col-12.mb-3.col-lg-4
          .mb-3.footer-contact
            .title
              img.img-fluid(src="./images/logo.png", alt="logo")
            .textwidget
              p نحن نقدم دورات عالية الجودة عبر الإنترنت لمدة عشر سنوات تقريبًا. لدينا جميع المدربين خبراء وذوي خبرة عالية. نحن نقدم جميع أنواع المواد الدراسية لطلابنا
            .title.mt-1  تابعنا
            ul.list-group.list-group-horizontal
              li.list-group-item.border-0.me-2
                a.text-decoration-none.s-color-text-hover(href="#")
                  i.fab.fa-facebook-f
              li.list-group-item.border-0.me-2
                a.text-decoration-none.s-color-text-hover(href="#")
                  i.fab.fa-twitter
              li.list-group-item.border-0.me-2
                a.text-decoration-none.s-color-text-hover(href="#")
                  i.fab.fa-linkedin-in
              li.list-group-item.border-0.me-2
                a.text-decoration-none.s-color-text-hover(href="#")
                  i.fab.fa-dribbble


        .col-12.mb-3.col-md-3.col-lg-2.col-sm-4
          div
            .title
              span التصنيفات
            .list
              ul.list-unstyled
                li
                  a(href="#") اعمال
                li
                  a(href="#") تصميم
                li
                  a(href="#") تطوير
                li
                  a(href="#") تسويق
                li
                  a(href="#") التصوير
                li
                  a(href="#") البرمجة


        .col-12.mb-3.col-md-5.col-lg-3.col-sm-8
          div
            .title
              span المشاركات الاخيرة
            .list
              ul.list-unstyled
                li.d-flex.last-nows.mb-3
                  span.me-3.last-nows-span-image
                    img.img-fluid(src="./images/footer/news.png", alt="")
                  span
                    a(href="#") تعلم تطوير تطبيقات الويب من الخبراء
                    span أبريل 1, 2021

                li.d-flex.last-nows.mb-3
                  span.me-3.last-nows-span-image
                    img.img-fluid(src="./images/footer/news.png", alt="")
                  span
                    a(href="#") تعلم تطوير تطبيقات الويب من الخبراء
                    span أبريل 1, 2021


        .col-12.mb-3.col-md-4.col-lg-3
          div
            .title
              span اتصل بنا
            .list.contact
              ul.list-unstyled
                li.mb-2
                  i.me-2.fas.fa-map-marker-alt
                  span شارع أوفال ، ماونت فيو ، لندن ، المملكة المتحدة
                li.mb-2
                  i.me-2.fas.fa-envelope
                  span support@example.com
                li.mb-2
                  i.me-2.fas.fa-mobile-alt
                  span 1234567890
                li لا تتردد في الاتصال بنا
        .col-12.text-center.border-top.mt-4.pt-4
          p جميع الحقوق محفوظة
  // footer main

include scripts