.mt-3
  ul.pagination
    li.paginate_button.page-item.previous.disabled#example1_previous
      a.page-link(href="#", aria-controls="example1", data-dt-idx="0", tabindex="0") السابق
    li.paginate_button.page-item.active
      a.page-link(href="#", aria-controls="example1", data-dt-idx="1", tabindex="0") 1
    li.paginate_button.page-item
      a.page-link(href="#", aria-controls="example1", data-dt-idx="2", tabindex="0") 2
    li.paginate_button.page-item
      a.page-link(href="#", aria-controls="example1", data-dt-idx="3", tabindex="0") 3
    li.paginate_button.page-item.next#example1_next
      a.page-link(href="#", aria-controls="example1", data-dt-idx="7", tabindex="0") التالي