.d-md-flex.justify-content-between.mb-4
  #datatable_filter.dataTables_filter
    label
      input(type="search", placeholder="بحث", aria-controls="datatable")
  .dt-buttons
    button.btn.btn-default(tabindex="0", aria-controls="datatable", type="button")
      span
        i.fa.fa-print.mr-1
        | طباعة

    button.btn.btn-success(tabindex="0", aria-controls="datatable", type="button")
      span
        i.fa.fa-file-excel.mr-1
        | اكسل