doctype html
html(dir="rtl")
  include ./mixins/all.pug
  +head("عرض منتجات القسم")
  body.bg-white
    .container.py-lg-5.py-3
      .row
        .col-12.text-center
          a(href="index.html")
            img.img-fluid(src="./images/logo.png", alt="logo")
        .col-12
          h4 سلة التسوق
        .col-lg-4
          .g-color-bg.p-3
            h5.px-3 ملخص الطلب
            hr.my-2
            .d-flex.mb-2
              span.me-3 مجموع السلة
              span SAR 2,472.00
            .d-flex
              span.me-5 الشحن
              span.ms-2 SAR 2,472.00
            hr.my-2
            .d-flex
              span.me-5 المجموع
              span SAR 2,472.00
          .accordion#accordionExample
            .accordion-item
              h2.accordion-header#headingThree
                button.accordion-button.border-0.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseThree", aria-expanded="false", aria-controls="collapseThree").
                  هل لديك كود للخصم أو رمز بطاقة الهدية؟
              #collapseThree.accordion-collapse.border-0.collapse(aria-labelledby="headingThree", data-bs-parent="#accordionExample")
                .accordion-body
                    h6 استعمل كود الخصم
                    form.row.g-3
                      .col-9
                        input.form-control#des(type="text", value="ادخل كود الخصم هنا")
                      .col-auto
                        button.btn.s-color-bg.m-color-bg-hover.text-white(type="submit") تطبيق
          .g-color-bg.px-2.py-3
            a.btn.m-color-bg.s-color-bg-hover.w-color-text-hover.w-100.py-3(href="checkout.html") إتمام الشراء
        .col-lg-8

          - for (x = 1; x <= 5; x++)
            .row.border-bottom.py-3
              .my-auto.col-12.text-end
                i.mbi.mbi-trash2
              .my-auto.col-lg-12
                .d-flex.justify-content-lg-between
                  a.align-self-sm-center.align-self-start.me-2(href="product.html")
                    img.img-fluid(src="./images/products/"+x+".webp", alt="explore slider img", width="120", height="120")
                  .row
                    .col-6.align-self-sm-center.align-self-start
                      a.text-decoration-none.text-dark.s-color-text-hover.align-self-sm-center.align-self-start.me-2(href="product.html") طقم أواني طبخ جوي، 5 قطع، زويلينج-Zwilling #{x}
                    .my-auto.col-lg-2.col-sm-4
                      span.d-sm-none.fw-bold.d-inline.me-2 السعر
                      |749.00 SAR
                    .my-auto.col-lg-2.col-sm-4
                      span.d-sm-none.fw-bold.d-inline.me-2 العدد
                      input.form-control.py-1.ps-0(type="number", value="1", min="1", style="width: 70px")
                    .my-auto.col-lg-2.col-sm-4
                      span.d-sm-none.fw-bold.d-inline.me-2 المجموع
                      |749.00 SAR
          .py-3
            .d-flex.justify-content-between
              button.btn.border تحديث سلة التسوق
              a.text-dark.s-color-text-hover(href="index.html")
                | تابع التسوق
                i.mbi.mbi-ios-arrow-left.ms-2

    include ./includes/footer