/*========== testimonials ==========*/
/* testimonials */
.testimonials {
    padding: 5% 0 6% 0;
    /* testimonials-users */
    .testimonials-users{
        /* testimonials-user */
        .testimonials-user {
            .testimonials-container {
                padding: 21% 0;

            }
        }
    }
     
} 

@media (max-width: 575.98px) {
    /* testimonials */
    .testimonials {
        .title {
            span {font-size: 12px;}
            h3 {font-size: 23px;}
            p {font-size: 15px;}
        }
    } 

}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* testimonials */
    .testimonials {
        .title {
            span {font-size: 13px;}
            h3 {font-size: 27px;}
            p {font-size: 17px;}
        }
    } 

}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* testimonials */
    .testimonials {
        .title {
            span {font-size: 16px;}
            h3 {font-size: 32px;}
            p {font-size: 20px;}
        }
    } 
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* testimonials */
    .testimonials {
        .title {
            span {font-size: 16px;}
            h3 {font-size: 32px;}
            p {font-size: 20px;}
        }
    } 

}
 

@media (min-width: 1200px) and (max-width: 1606px) {
    /* testimonials */
    .testimonials {
        .title {
            span {font-size: 18px;}
            h3 {font-size: 35px;}
            p {font-size: 22px;}
        }
    } 

}

@media (min-width: 1607px) {
    /* testimonials */
    .testimonials {
        .title {
            span {font-size: 18px;}
            h3 {font-size: 35px;}
            p {font-size: 22px;}
        }
    } 
    
}
 

/*========== testimonials ==========*/