// dashboard sidebar
aside.dashboard-sidebar
    .text-center.mb-3
        img.d-inline.p-1.me-2.toggle-dashboard-sidebar.pointer.rounded-circle.hide-dashboard-sidebar(src="../images/icons/list.png", width="40")
        a.d-inline.navbar-brand.pb-0.mx-0(href='#')
            img(src="../images/dashboard/logo.png", alt="logo")
    ul.list-unstyled.px-0
        li: a.text-dark.active-link(href="dashboard.html")
            i.mbi.mbi-home5
            | الرئيسية

        li: a.text-dark(href="products.html")
            i.mbi.mbi-store
            | المنتجات

        li: a.text-dark(href="orders.html")
            i.mbi.mbi-menu3
            | إدارة طلباتي

        li: a.text-dark(href="#")
            i.mbi.mbi-pie-chart
            | التقارير

        li: a.text-dark(href="messages.html")
            i.mbi.mbi-bubbles
            | الرسائل

        li: a.text-dark(href="coupon.html")
            i.mbi.mbi-gift
            | كوبونات الخصم

        li: a.text-dark(href="clints.html")
            i.mbi.mbi-user
            | العملاء

        li: a.text-dark(href="ranges.html")
            i.mbi.mbi-map-marker
            | نطاقات التغطية

        li: a.text-dark(href="#")
            i.mbi.mbi-cog
            | الاعدادات

        li: a.m-color-text(href="#")
            i.mbi.mbi-exit-left
            | تسجيل الخروج