doctype html
html(dir="rtl", lang="ar")
  include ./mixins/all.pug
  +head(" تسجيل الدخول برقم الجوال ")
  body.g-color-bg
    .container-fluid
      // auth
      .auth.text-center.mx-auto
        img.img-fluid(src="./images/5.png", alt="food")
        h6.img-title قم ببيع اكلاتك
        div.type-container
          h6.title.title-font مرحبا بعودتك
          p قم بتسجيل الدخول برقم الجوال
          .mb-3
            input.phone-input-style.form-control#phone(type="tel", placeholder="رقم الجوال")

          .mb-3.position-relative.input-style-container.form-floating
            i.fas.fa-eye.icon.show-password.pointer
            input.input-style.form-control(type="password", placeholder="كلمة المرور")
            label كلمة المرور

          .actions.mb-3
            a.new(href="home.html") تسجيل دخول
            a.arrow(href="user-type.html")
              i.mbi.mbi-arrow-left
          p
            | ليس لديك حساب ؟
            a.m-color-text.mx-1.text-decoration-none.md-color-text-hover(href="user-type.html")  تسجيل جديد

    include ./includes/scripts
