doctype html
html(dir="rtl", lang="ar")
  include ./mixins/all.pug
  +head("تفعيل رقم الجوال")
  body.g-color-bg
    .container-fluid
      // auth
      .auth.text-center.mx-auto
        img.img-fluid(src="./images/5.png", alt="food")
        h6.img-title تحتاج أكلة  ؟
        div.type-container
          h6.title.title-font تفعيل رقم الجوال
          p تم ارسال كود التفعيل لرقم الجوال الخاص بك
          .mb-3.position-relative.input-style-container.form-floating
            input.input-style.form-control(type="text", placeholder="ادخل كود التفعيل")
            label ادخل كود التفعيل

          .actions.mb-2
            a.new(href="customer-registeration.html")
             i.mbi.mbi-arrow-right
             | التالي
            a.arrow(href="new-register-phone.html")
              i.mbi.mbi-arrow-left
          p.resend-code.text-start.mb-3
            a.text-dark.text-decoration-none.border-bottom.md-color-text-hover(href="#") إعادة ارسال الكود

    include ./includes/scripts
