
// footer
footer
  .mb-4.overflow-hidden.position-relative.passport-banner.passport-banner-footer-height
    .passport-banner-images.d-flex.flex.flex-wrap.justify-content-center.passport-banner-max-width.mx-auto
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
      .card-passport-footer.m1.mxn1.flex.flex-wrap.overflow-hidden.bg-white.shadow.position-relative
        .profile-bg.m1(style="background-image:url('images/users/girl_1.jpg')")
    .overlay.position-absolute.top-0.right-0.bottom-0.left-0.d-flex.align-items-center.justify-content-center
      .text-center
        h1.text-white قابل نساء عازبات أكثر!
        h2.text-white قابل أكثر من ٦٠ مليون عضو وعضوة عبر شبكة مسيار


  .container.coustom-container
    .row
      .col-md-12.col-sm-12.col-xs-12.text-center.logo
        .logoin

      .col-md-12.col-sm-12.col-xs-12.text-center
        .links.pe-0
          div: a.text-dark.text-decoration-none.fw-bold(href="#") الرئيسية
          div: a.text-dark.text-decoration-none.fw-bold(href="#") عن الموقع
          div: a.text-dark.text-decoration-none.fw-bold(href="#") تنبيهات
          div: a.text-dark.text-decoration-none.fw-bold(href="#") الاشتراكات
          div: a.text-dark.text-decoration-none.fw-bold(href="#") اتصل بنا

  .footer2.py-2
    .container.coustom-container
      .row
        div(class="col-md-4 text-md-end text-center footer2_1")
          a.text-white.text-decoration-none.fw-bold(href="#", title="سياسة الخصوصية") سياسة الخصوصية
          span.mx-3 | &nbsp;
          a.text-white.text-decoration-none.fw-bold(href="#", title="اتفاقية الإستخدام") اتفاقية الإستخدام
        div(class="col-md-4 text-center footer2_2")
          a.text-white.text-decoration-none(class="icons fab fa-facebook", href="#")
          a.text-white.text-decoration-none.mx-3(class="icons fab fa-twitter", href="#")
          a.text-white.text-decoration-none(class="icons fab fa-whatsapp", href="#")
        div(class="col-md-4 text-md-start  text-center footer2_3")
          | All Rights Reserved to Msyar Online

// footer

include scripts