doctype html
html(dir="rtl", lang="ar")
  include ./mixins/all.pug
  +head(" الايقونات ")
  body.dashboard-body.mr-228
    include ./includes/sidebar
    .dashboard-container
      +dashboard-navbar(" العملاء ")
      .row           
          i.display-1.mb-4.d-block.col-2.mbi.mbi-paint-roller

          i.display-1.mb-4.d-block.col-2.mbi.mbi-palette

          i.display-1.mb-4.d-block.col-2.mbi.mbi-color-sampler

          i.display-1.mb-4.d-block.col-2.mbi.mbi-wind

          i.display-1.mb-4.d-block.col-2.mbi.mbi-fan

          i.display-1.mb-4.d-block.col-2.mbi.mbi-shovel

          i.display-1.mb-4.d-block.col-2.mbi.mbi-drawers

          i.display-1.mb-4.d-block.col-2.mbi.mbi-drawers2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-drawers3

          i.display-1.mb-4.d-block.col-2.mbi.mbi-clipboard-user

          i.display-1.mb-4.d-block.col-2.mbi.mbi-register

          i.display-1.mb-4.d-block.col-2.mbi.mbi-exit

          i.display-1.mb-4.d-block.col-2.mbi.mbi-papers

          i.display-1.mb-4.d-block.col-2.mbi.mbi-news

          i.display-1.mb-4.d-block.col-2.mbi.mbi-podium

          i.display-1.mb-4.d-block.col-2.mbi.mbi-music-note

          i.display-1.mb-4.d-block.col-2.mbi.mbi-music-note2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-guitar

          i.display-1.mb-4.d-block.col-2.mbi.mbi-headphones

          i.display-1.mb-4.d-block.col-2.mbi.mbi-bookmark

          i.display-1.mb-4.d-block.col-2.mbi.mbi-library

          i.display-1.mb-4.d-block.col-2.mbi.mbi-baby-bottle

          i.display-1.mb-4.d-block.col-2.mbi.mbi-bow-tie

          i.display-1.mb-4.d-block.col-2.mbi.mbi-tie

          i.display-1.mb-4.d-block.col-2.mbi.mbi-socks

          i.display-1.mb-4.d-block.col-2.mbi.mbi-shoes

          i.display-1.mb-4.d-block.col-2.mbi.mbi-hat

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pants

          i.display-1.mb-4.d-block.col-2.mbi.mbi-shorts

          i.display-1.mb-4.d-block.col-2.mbi.mbi-flip-flops

          i.display-1.mb-4.d-block.col-2.mbi.mbi-shirt

          i.display-1.mb-4.d-block.col-2.mbi.mbi-hanger

          i.display-1.mb-4.d-block.col-2.mbi.mbi-laundry

          i.display-1.mb-4.d-block.col-2.mbi.mbi-vault

          i.display-1.mb-4.d-block.col-2.mbi.mbi-tablet

          i.display-1.mb-4.d-block.col-2.mbi.mbi-laptop

          i.display-1.mb-4.d-block.col-2.mbi.mbi-laptop-phone

          i.display-1.mb-4.d-block.col-2.mbi.mbi-cable

          i.display-1.mb-4.d-block.col-2.mbi.mbi-tv

          i.display-1.mb-4.d-block.col-2.mbi.mbi-remote-control

          i.display-1.mb-4.d-block.col-2.mbi.mbi-lamp

          i.display-1.mb-4.d-block.col-2.mbi.mbi-lampshade

          i.display-1.mb-4.d-block.col-2.mbi.mbi-heart-pulse1

          i.display-1.mb-4.d-block.col-2.mbi.mbi-thermometer

          i.display-1.mb-4.d-block.col-2.mbi.mbi-beaker

          i.display-1.mb-4.d-block.col-2.mbi.mbi-bone

          i.display-1.mb-4.d-block.col-2.mbi.mbi-diamond2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-teacup

          i.display-1.mb-4.d-block.col-2.mbi.mbi-teapot

          i.display-1.mb-4.d-block.col-2.mbi.mbi-chef

          i.display-1.mb-4.d-block.col-2.mbi.mbi-egg

          i.display-1.mb-4.d-block.col-2.mbi.mbi-egg2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-platter

          i.display-1.mb-4.d-block.col-2.mbi.mbi-steak

          i.display-1.mb-4.d-block.col-2.mbi.mbi-hamburger

          i.display-1.mb-4.d-block.col-2.mbi.mbi-hotdog

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pizza

          i.display-1.mb-4.d-block.col-2.mbi.mbi-sausage

          i.display-1.mb-4.d-block.col-2.mbi.mbi-fish

          i.display-1.mb-4.d-block.col-2.mbi.mbi-carrot

          i.display-1.mb-4.d-block.col-2.mbi.mbi-cheese

          i.display-1.mb-4.d-block.col-2.mbi.mbi-bread

          i.display-1.mb-4.d-block.col-2.mbi.mbi-ice-cream

          i.display-1.mb-4.d-block.col-2.mbi.mbi-candy

          i.display-1.mb-4.d-block.col-2.mbi.mbi-lollipop

          i.display-1.mb-4.d-block.col-2.mbi.mbi-cherry

          i.display-1.mb-4.d-block.col-2.mbi.mbi-grapes

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pine-tree

          i.display-1.mb-4.d-block.col-2.mbi.mbi-paw

          i.display-1.mb-4.d-block.col-2.mbi.mbi-car-wash2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-boat

          i.display-1.mb-4.d-block.col-2.mbi.mbi-dumbbell

          i.display-1.mb-4.d-block.col-2.mbi.mbi-swim

          i.display-1.mb-4.d-block.col-2.mbi.mbi-football

          i.display-1.mb-4.d-block.col-2.mbi.mbi-baseball-bat

          i.display-1.mb-4.d-block.col-2.mbi.mbi-baseball

          i.display-1.mb-4.d-block.col-2.mbi.mbi-tennis

          i.display-1.mb-4.d-block.col-2.mbi.mbi-tennis2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-ping-pong

          i.display-1.mb-4.d-block.col-2.mbi.mbi-hockey

          i.display-1.mb-4.d-block.col-2.mbi.mbi-8ball

          i.display-1.mb-4.d-block.col-2.mbi.mbi-bowling-pins

          i.display-1.mb-4.d-block.col-2.mbi.mbi-golf2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-christmas

          i.display-1.mb-4.d-block.col-2.mbi.mbi-easter-egg

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pencil2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-home3

          i.display-1.mb-4.d-block.col-2.mbi.mbi-home5

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pencil

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pencil5

          i.display-1.mb-4.d-block.col-2.mbi.mbi-cog

          i.display-1.mb-4.d-block.col-2.mbi.mbi-trash2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-heart

          i.display-1.mb-4.d-block.col-2.mbi.mbi-star

          i.display-1.mb-4.d-block.col-2.mbi.mbi-star-empty

          i.display-1.mb-4.d-block.col-2.mbi.mbi-flag2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-at-sign

          i.display-1.mb-4.d-block.col-2.mbi.mbi-envelope

          i.display-1.mb-4.d-block.col-2.mbi.mbi-envelope-open

          i.display-1.mb-4.d-block.col-2.mbi.mbi-paper-plane

          i.display-1.mb-4.d-block.col-2.mbi.mbi-eye

          i.display-1.mb-4.d-block.col-2.mbi.mbi-eye-crossed

          i.display-1.mb-4.d-block.col-2.mbi.mbi-printer

          i.display-1.mb-4.d-block.col-2.mbi.mbi-presentation

          i.display-1.mb-4.d-block.col-2.mbi.mbi-film-play

          i.display-1.mb-4.d-block.col-2.mbi.mbi-clapboard-play

          i.display-1.mb-4.d-block.col-2.mbi.mbi-camera2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-picture

          i.display-1.mb-4.d-block.col-2.mbi.mbi-picture3

          i.display-1.mb-4.d-block.col-2.mbi.mbi-bookmark2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-label

          i.display-1.mb-4.d-block.col-2.mbi.mbi-profile

          i.display-1.mb-4.d-block.col-2.mbi.mbi-user

          i.display-1.mb-4.d-block.col-2.mbi.mbi-store

          i.display-1.mb-4.d-block.col-2.mbi.mbi-store-24

          i.display-1.mb-4.d-block.col-2.mbi.mbi-bag2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-cart

          i.display-1.mb-4.d-block.col-2.mbi.mbi-cart-empty

          i.display-1.mb-4.d-block.col-2.mbi.mbi-tag

          i.display-1.mb-4.d-block.col-2.mbi.mbi-tags

          i.display-1.mb-4.d-block.col-2.mbi.mbi-credit-card2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-telephone

          i.display-1.mb-4.d-block.col-2.mbi.mbi-phone-wave

          i.display-1.mb-4.d-block.col-2.mbi.mbi-phone-outgoing

          i.display-1.mb-4.d-block.col-2.mbi.mbi-telephone2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pushpin

          i.display-1.mb-4.d-block.col-2.mbi.mbi-map-marker

          i.display-1.mb-4.d-block.col-2.mbi.mbi-location

          i.display-1.mb-4.d-block.col-2.mbi.mbi-calendar-empty

          i.display-1.mb-4.d-block.col-2.mbi.mbi-calendar-check

          i.display-1.mb-4.d-block.col-2.mbi.mbi-calendar-cross

          i.display-1.mb-4.d-block.col-2.mbi.mbi-calendar-31

          i.display-1.mb-4.d-block.col-2.mbi.mbi-calendar-full

          i.display-1.mb-4.d-block.col-2.mbi.mbi-calendar-user

          i.display-1.mb-4.d-block.col-2.mbi.mbi-screen

          i.display-1.mb-4.d-block.col-2.mbi.mbi-phone

          i.display-1.mb-4.d-block.col-2.mbi.mbi-power

          i.display-1.mb-4.d-block.col-2.mbi.mbi-bubble

          i.display-1.mb-4.d-block.col-2.mbi.mbi-bubbles

          i.display-1.mb-4.d-block.col-2.mbi.mbi-bubble-question

          i.display-1.mb-4.d-block.col-2.mbi.mbi-heart-pulse

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pie-chart

          i.display-1.mb-4.d-block.col-2.mbi.mbi-graph

          i.display-1.mb-4.d-block.col-2.mbi.mbi-chart-growth

          i.display-1.mb-4.d-block.col-2.mbi.mbi-chart-bars

          i.display-1.mb-4.d-block.col-2.mbi.mbi-gift

          i.display-1.mb-4.d-block.col-2.mbi.mbi-diamond

          i.display-1.mb-4.d-block.col-2.mbi.mbi-diamond4

          i.display-1.mb-4.d-block.col-2.mbi.mbi-rocket

          i.display-1.mb-4.d-block.col-2.mbi.mbi-car

          i.display-1.mb-4.d-block.col-2.mbi.mbi-truck

          i.display-1.mb-4.d-block.col-2.mbi.mbi-icons2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-alarm

          i.display-1.mb-4.d-block.col-2.mbi.mbi-alarm-ringing

          i.display-1.mb-4.d-block.col-2.mbi.mbi-volume-high

          i.display-1.mb-4.d-block.col-2.mbi.mbi-volume-medium

          i.display-1.mb-4.d-block.col-2.mbi.mbi-volume-low

          i.display-1.mb-4.d-block.col-2.mbi.mbi-volume

          i.display-1.mb-4.d-block.col-2.mbi.mbi-mute

          i.display-1.mb-4.d-block.col-2.mbi.mbi-loading

          i.display-1.mb-4.d-block.col-2.mbi.mbi-undo2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-redo2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-sync2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-clock3

          i.display-1.mb-4.d-block.col-2.mbi.mbi-watch

          i.display-1.mb-4.d-block.col-2.mbi.mbi-alarm2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-download

          i.display-1.mb-4.d-block.col-2.mbi.mbi-download2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-upload2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-exit-left

          i.display-1.mb-4.d-block.col-2.mbi.mbi-exit-right

          i.display-1.mb-4.d-block.col-2.mbi.mbi-enter-right2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-exit-left2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-link2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-unlink2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-thumbs-up

          i.display-1.mb-4.d-block.col-2.mbi.mbi-share2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-magnifier

          i.display-1.mb-4.d-block.col-2.mbi.mbi-zoom-in

          i.display-1.mb-4.d-block.col-2.mbi.mbi-zoom-out

          i.display-1.mb-4.d-block.col-2.mbi.mbi-loupe

          i.display-1.mb-4.d-block.col-2.mbi.mbi-cross

          i.display-1.mb-4.d-block.col-2.mbi.mbi-menu

          i.display-1.mb-4.d-block.col-2.mbi.mbi-list

          i.display-1.mb-4.d-block.col-2.mbi.mbi-list2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-list3

          i.display-1.mb-4.d-block.col-2.mbi.mbi-list4

          i.display-1.mb-4.d-block.col-2.mbi.mbi-menu3

          i.display-1.mb-4.d-block.col-2.mbi.mbi-check

          i.display-1.mb-4.d-block.col-2.mbi.mbi-cross2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-plus

          i.display-1.mb-4.d-block.col-2.mbi.mbi-minus

          i.display-1.mb-4.d-block.col-2.mbi.mbi-chevron-up

          i.display-1.mb-4.d-block.col-2.mbi.mbi-chevron-down

          i.display-1.mb-4.d-block.col-2.mbi.mbi-chevron-left

          i.display-1.mb-4.d-block.col-2.mbi.mbi-chevron-right

          i.display-1.mb-4.d-block.col-2.mbi.mbi-arrow-up

          i.display-1.mb-4.d-block.col-2.mbi.mbi-arrow-down

          i.display-1.mb-4.d-block.col-2.mbi.mbi-arrow-left

          i.display-1.mb-4.d-block.col-2.mbi.mbi-arrow-right

          i.display-1.mb-4.d-block.col-2.mbi.mbi-arrow-up

          i.display-1.mb-4.d-block.col-2.mbi.mbi-expand

          i.display-1.mb-4.d-block.col-2.mbi.mbi-contract

          i.display-1.mb-4.d-block.col-2.mbi.mbi-expand2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-contract2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-tab

          i.display-1.mb-4.d-block.col-2.mbi.mbi-notification

          i.display-1.mb-4.d-block.col-2.mbi.mbi-warning

          i.display-1.mb-4.d-block.col-2.mbi.mbi-checkmark-circle

          i.display-1.mb-4.d-block.col-2.mbi.mbi-play-circle

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pause-circle

          i.display-1.mb-4.d-block.col-2.mbi.mbi-grid

          i.display-1.mb-4.d-block.col-2.mbi.mbi-layers

          i.display-1.mb-4.d-block.col-2.mbi.mbi-funnel

          i.display-1.mb-4.d-block.col-2.mbi.mbi-check-square

          i.display-1.mb-4.d-block.col-2.mbi.mbi-menu-square

          i.display-1.mb-4.d-block.col-2.mbi.mbi-sort-alpha

          i.display-1.mb-4.d-block.col-2.mbi.mbi-sort-alpha

          i.display-1.mb-4.d-block.col-2.mbi.mbi-sort-amount

          i.display-1.mb-4.d-block.col-2.mbi.mbi-sort-amount

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pencil-line

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pointer-right

          i.display-1.mb-4.d-block.col-2.mbi.mbi-ellipsis

          i.display-1.mb-4.d-block.col-2.mbi.mbi-vk

          i.display-1.mb-4.d-block.col-2.mbi.mbi-foursquare

          i.display-1.mb-4.d-block.col-2.mbi.mbi-yahoo

          i.display-1.mb-4.d-block.col-2.mbi.mbi-google

          i.display-1.mb-4.d-block.col-2.mbi.mbi-amazon

          i.display-1.mb-4.d-block.col-2.mbi.mbi-facebook-square

          i.display-1.mb-4.d-block.col-2.mbi.mbi-twitter

          i.display-1.mb-4.d-block.col-2.mbi.mbi-facebook

          i.display-1.mb-4.d-block.col-2.mbi.mbi-github

          i.display-1.mb-4.d-block.col-2.mbi.mbi-credit-card

          i.display-1.mb-4.d-block.col-2.mbi.mbi-pinterest

          i.display-1.mb-4.d-block.col-2.mbi.mbi-google-plus

          i.display-1.mb-4.d-block.col-2.mbi.mbi-money

          i.display-1.mb-4.d-block.col-2.mbi.mbi-linkedin

          i.display-1.mb-4.d-block.col-2.mbi.mbi-youtube

          i.display-1.mb-4.d-block.col-2.mbi.mbi-instagram

          i.display-1.mb-4.d-block.col-2.mbi.mbi-apple

          i.display-1.mb-4.d-block.col-2.mbi.mbi-android

          i.display-1.mb-4.d-block.col-2.mbi.mbi-dribbble

          i.display-1.mb-4.d-block.col-2.mbi.mbi-skype

          i.display-1.mb-4.d-block.col-2.mbi.mbi-io-add

          i.display-1.mb-4.d-block.col-2.mbi.mbi-io-done

          i.display-1.mb-4.d-block.col-2.mbi.mbi-more-vertical

          i.display-1.mb-4.d-block.col-2.mbi.mbi-io-remove

          i.display-1.mb-4.d-block.col-2.mbi.mbi-ios-arrow

          i.display-1.mb-4.d-block.col-2.mbi.mbi-ios-arrow

          i.display-1.mb-4.d-block.col-2.mbi.mbi-ios-arrow

          i.display-1.mb-4.d-block.col-2.mbi.mbi-ios-arrow

          i.display-1.mb-4.d-block.col-2.mbi.mbi-checkmark-outline

          i.display-1.mb-4.d-block.col-2.mbi.mbi-checkmark

          i.display-1.mb-4.d-block.col-2.mbi.mbi-circle-filled

          i.display-1.mb-4.d-block.col-2.mbi.mbi-circle-outline

          i.display-1.mb-4.d-block.col-2.mbi.mbi-contact-outline

          i.display-1.mb-4.d-block.col-2.mbi.mbi-star-outline

          i.display-1.mb-4.d-block.col-2.mbi.mbi-star2

          i.display-1.mb-4.d-block.col-2.mbi.mbi-load-c

          i.display-1.mb-4.d-block.col-2.mbi.mbi-social-rss
       
    include ./includes/scripts