doctype html
html(dir="rtl", lang="ar")
  include ./mixins/all.pug
  +head(" اعدادات الحساب ")
  body.dashboard-body.mr-228
    include ./includes/sidebar
    .dashboard-container
        +dashboard-navbar(" اعدادات الحساب ")
        .d-xl-flex.mt-xl-5.pt-xl-5.justify-content-center

            .align-self-center.mb-xl-0.mb-3.mx-xl-3.mx-auto.border.shadow-sm.rounded-3.plan.p-4
                h5.mb-3  البرونزية
                div.mb-4
                  span.h1.fw-bloder.mx-1.m-color-text  350 ريال
                  span.m-color-text  شهرياً
                p
                    i.fas.fa-check-circle.m-color-text.me-3
                    | عدد منتجات لا محدود
                p
                    i.fas.fa-check-circle.m-color-text.me-3
                    | تقارير شاملة لمتجرك
                p
                    i.fas.fa-check-circle.m-color-text.me-3
                    | اضافة كوبونات خصم لعملاءك
                p.text-muted.mb-4
                    i.fas.fa-times-circle.s-color-text.me-3
                    | إضافة عملاء جدد

                a.w-100.text-center.mb-lg-0.mb-3.d-inline-block.w-color-text-hover.m-color-bg-hover.py-3.text-decoration-none.rounded-pill.border.m-color-border.m-color-text(href="#")   انت مشترك بالفعل



            .align-self-center.mb-xl-0.mb-5.mx-xl-3.mx-auto.border.rounded-3.plan.px-4.py-5.m-color-shadow.m-color-border.m-color-bg.text-white(style="top: 15px")
                h5.mb-3  الذهبية
                div.mb-4
                  span.h1.fw-bloder.mx-1.text-white  350 ريال
                  span.text-white-50  شهرياً-اشتراك سنوي
                p
                    i.fas.fa-check-circle.text-white.me-3
                    | عدد منتجات لا محدود
                p
                    i.fas.fa-check-circle.text-white.me-3
                    | تقارير شاملة لمتجرك
                p
                    i.fas.fa-check-circle.text-white.me-3
                    | اضافة كوبونات خصم لعملاءك
                p.text-white-50.mb-4
                    i.fas.fa-times-circle.text-white-50.me-3
                    | إضافة عملاء جدد

                a.w-100.text-center.mb-lg-0.mb-3.d-inline-block.w-color-text-hover.d-color-bg-hover.py-3.text-decoration-none.rounded-pill.border-0.bg-white.m-color-text(href="#")   انت مشترك بالفعل


            .align-self-center.mb-xl-0.mb-3.mx-xl-3.mx-auto.border.shadow-sm.rounded-3.plan.p-4
                h5.mb-3  الفضية
                div.mb-4
                  span.h1.fw-bloder.mx-1.m-color-text  350 ريال
                  span.m-color-text  شهرياً
                p
                    i.fas.fa-check-circle.m-color-text.me-3
                    | عدد منتجات لا محدود
                p
                    i.fas.fa-check-circle.m-color-text.me-3
                    | تقارير شاملة لمتجرك
                p
                    i.fas.fa-check-circle.m-color-text.me-3
                    | اضافة كوبونات خصم لعملاءك
                p.text-muted.mb-4
                    i.fas.fa-times-circle.s-color-text.me-3
                    | إضافة عملاء جدد

                a.w-100.text-center.mb-lg-0.mb-3.d-inline-block.w-color-text-hover.m-color-bg-hover.py-3.text-decoration-none.rounded-pill.border.m-color-border.m-color-text(href="#")   انت مشترك بالفعل

    include ./includes/scripts
