doctype html
html(dir="rtl", lang="ar")
  include ./mixins/all.pug
  +head(" المنتجات ")
  body.dashboard-body.mr-228
    include ./includes/sidebar
    .dashboard-container
        +dashboard-navbar("المنتجات")
        .d-lg-flex.mb-4.justify-content-between.mt-5
          h4 اجمالي المنتجات (345)
          div.align-self-center
            a.text-white.rounded-pill.border-0.m-color-bg.d-color-bg-hover.btn.btn-lg(href="add-product-1.html")
              | منتج جديد
              i.fas.fa-plus-circle.mx-2
        h4 فلتر النتائج
        .d-lg-flex.mb-4.justify-content-between
          div
            .select-filter.d-lg-flex
              select.mb-3.form-select.form-select-lg
                option(selected) حسب حاله المنتج
              select.mb-3.form-select.form-select-lg
                option(selected) تصنيف  المنتج
              button.mb-3.border-0.btn-lg.px-4.m-color-bg.d-color-bg-hover.text-white.btn(style="height: 48px") فلترة
          .search.border(style="height: 48px")
            i.mbi.mbi-magnifier
            input.form-control.form-control-lg.bg-white(type="search", placeholder="ابحث عن طلب ")
            button.rounded-0.btn-lg.px-4.m-color-bg.d-color-bg-hover.text-white.btn(style="height: 48px") بحث

        div.mb-4
          a.mb-3.text-dark.me-3.rounded-2.fw-bolder.btn.btn-lg(href="#") جميع المنتجات (6)
          a.mb-3.text-warning.me-3.rounded-2.fw-bolder.btn.btn-lg(href="#") بانتظار التاكيد (6)
          a.mb-3.text-success.me-3.rounded-2.fw-bolder.btn.btn-lg(href="#") منتج مؤكد (6)
          a.mb-3.text-danger.me-3.rounded-2.fw-bolder.btn.btn-lg(href="#") منتج مرفوض (6)

        .row
          -for(x=1; x<=16; x++)
            .col-lg-3.col-sm-6.mb-4.px-2
              .border.shadow-sm.p-3.bg-white.rounded-3.product-border
                .d-flex.justify-content-between
                  a.text-decoration-none(href="product.html") 
                    span.text-muted اسم المنتج
                  a.text-decoration-none(href="product.html") 
                    span.text-muted #45678
                a.text-decoration-none(href="product.html")
                  h5.mb-3.text-dark منقوشة زعتر
                a.text-decoration-none(href="product.html")
                  img.mb-3.img-fluid.rounded-3(src="../images/products/1.png", alt="product")
                .d-flex.mb-1.justify-content-between
                  span.text-muted الكمية المتوفرة
                  span.text-muted سعر المنتج

                .d-flex.mb-3.justify-content-between
                  h5.text-dark 35
                  h5.text-dark 134 ريال
                span.h6.bg-m-50.px-4.py-2.m-color-text.rounded-pill ماكولات سورية


    include ./includes/scripts