doctype html
html(dir="rtl", lang="ar")
  include ./mixins/all.pug
  +head(" ادارة الفرق ")
  body.dashboard-body.mr-228
    include ./includes/sidebar
    .dashboard-container
        +dashboard-navbar("إدارة الفرق")
        .d-lg-flex.mb-4.justify-content-between.mt-5
          h4 عدد الموظفين (345)
          div.align-self-center
            a.text-white.rounded-pill.border-0.m-color-bg.d-color-bg-hover.btn.btn-lg(href="team-manag-1.html")
              | اضافة موظف
              i.fas.fa-plus-circle.mx-2
        .custom-table
          .table-responsive
            table.table.table-borderless
              thead
                tr
                  each val in [ "الاسم  ", "تاريخ الانضمام", "رقم الجوال", "البريد الالكتروني", "الاجراءات"]
                    th=val
              -for(x=1; x<=5; x++)
                tbody
                  tr
                    td mohamed ali
                    td 22/2/2020
                    td 1234567890
                    td ali@mail.com
                    td
                      .form-check.form-switch
                        input.form-check-input.custom-switch(id=x, type="checkbox", checked)

    include ./includes/scripts