doctype html
html(dir="rtl", lang="ar")
  include ./mixins/all.pug
  +head("الرئيسية")
  body
    include ./includes/navbar
    main.home
      header.py-3
        .container.coustom-container.position-relative.py-3
          .row
            .col-md-6.mb-md-0.mb-3
              .d-flex.user
                div.ms-2
                  img.img-thumbnail.rounded-circle(src="images/users/girl_1.jpg", alt="user", width="86", heigth="86")
                div.align-self-center
                  h5.text-white مرحبا نادية

            .col-md-6
              .row
                .col-lg-3.col-6.mb-3.text-center: .progress-1
                .col-lg-3.col-6.mb-3.text-center
                  .progress-2.position-relative
                      i.icon.fas.fa-comment-alt.position-absolute.top-50.start-50.translate-middle
                .col-lg-3.col-6.mb-3.text-center.position-relative
                   .progress-3
                      i.icon.fas.fa-heart.position-absolute.top-50.start-50.translate-middle
                .col-lg-3.col-6.mb-3.text-center.position-relative
                   .progress-4
                      i.icon.fas.fa-eye.position-absolute.top-50.start-50.translate-middle
          .search.bg-white
            div.ms-lg-4.mb-lg-0.mb-3
              span.d-block.mb-lg-0.mb-3.ms-2
                | ابحث عن
              select.form-select.d-inline
                option أنثى

            div.ms-lg-4.mb-lg-0.mb-3
              span.d-block.mb-lg-0.mb-3.ms-2 العمر
              select.form-select.d-inline
                option 18
              select.form-select.d-inline
                option 18

            div.ms-lg-4.mb-lg-0.mb-3
              span.d-block.mb-lg-0.mb-3.ms-2 البلد
              select.form-select.d-inline
                option المملكة العربية السعودية

            div.ms-lg-4.mb-lg-0.mb-3
              span.d-block.mb-lg-0.mb-3.ms-2  الدولة / المقاطعة
              select.form-select.d-inline
                option اسم المقاطعة

            div.ms-lg-4.mb-lg-0.mb-3
              span.d-block.mb-lg-0.mb-3.ms-2   المدينة
              select.form-select.d-inline
                option الرياض

            div.ms-lg-4.mb-lg-0.mb-3
              span.d-block.mb-lg-0.mb-3.ms-2   على مسافة
              select.form-select.d-inline
                option 5 كم

            div.ms-lg-4.align-self-center
              button.btn.m-color-bg.d-color-bg-hover.text-white.px-4
                i.fas.fa-search.ms-3
                | بحث

      section.py-5.g-color-bg
        .container.coustom-container.pt-3
          .d-md-flex.justify-content-between.align-items-center.mb-3
            p 1 - 35 من 1000+
            div
              span ترتيب حسب:
              select.form-select.d-inline.w-auto
                option الملائمة

          .row
            -for(x=1; x<=30; x++)
              .col-xl-2.col-lg-3.col-6.mb-3
                .card.border-0.shadow.user
                  div.position-relative
                    span.position-absolute.status
                      i.fas.fa-circle.text-success
                    a.text-muted.text-decoration-none(href="profile.html")
                      img.img-fluid.card-img-top(src="images/users/girl_1.jpg", alt="user")
                  .card-body
                    h6.card-title.text-muted
                      a.text-muted.text-decoration-none.m-color-text-hover(href="profile.html")
                        i.fas.fa-user.ms-2
                        | ريم أحمد
                    p.card-text.mb-0.text-muted 28 • الرياض, السعودية
                    p.card-text.mb-0.text-muted ابحث على: ذكر 30 - 45
                    p.card-text.mb-0.text-muted منذ 42 دقائق
                  .card-footer.border-0.bg-white.d-flex.justify-content-between.align-items-center
                      i.h5.text-muted.fas.fa-comment-alt
                      i.h5.text-muted.fas.fa-heart
                      sapn.text-muted
                          i.h5.fas.fa-camera.ms-2
                          span.h5 5
            .co-12.mt-5
              nav(aria-label="...")
                ul.pagination.justify-content-center
                  li.page-item.rounded.mx-1.disabled
                    a.rounded.page-link(href="#", tabindex="-1", aria-disabled="true") السابق
                  li.page-item.rounded.mx-1
                    a.rounded.page-link(href="#") 1
                  li.page-item.rounded.mx-1.active(aria-current="page")
                    a.rounded.page-link(href="#") 2
                  li.page-item.rounded.mx-1
                    a.rounded.page-link(href="#") 3
                  li.page-item.rounded.mx-1
                    a.rounded.page-link(href="#") التالي




    include ./includes/footer
