/*========== why-us ==========*/

.why-us {
    padding: 5% 0;

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    .text-icon-active {
        background-color: #fff !important;
        box-shadow: 0 6px 35px rgb(0 0 0 / 7%);
        .bottom-border {
           width: 100% !important;
       }
    }
     .text-icon {
         background-color: #f9f9f9;
         transition: background-color 0.2s linear, box-shadow 0.2s linear;
         &:hover {
             background-color: #fff;
             box-shadow: 0 6px 35px rgb(0 0 0 / 7%);
             .bottom-border {
                width: 100%;
            }
         }

         .bottom-border {
             bottom: 0;
             right: 0;
             height: 3px;
             width: 0;
             background-color: var(--m-color);
            transition: width 0.2s linear;
         }
        h3 {font-size: 30px;}
        p {font-size: 20px;}
         span:first-of-type {
            display: block;
            width: 103px;
            height: 103px;
            margin: 0 auto;
            background: var(--m-color);
            border-radius: 50%;

            i {
                font-size: 46px;
                line-height: 104px;
                color: #ffffff;
            }
         }
     }

}


@media (max-width: 575.98px) {
    .why-us {
        padding: 10% 0;
    
        h2 {
            font-size: 30px;
        }
    
        p {
            font-size: 19px;
        }
        
        .text-icon {
            h3 {font-size: 25px;}
            p {font-size: 18px;}
             span:first-of-type {
                width: 80px;
                height: 80px;
                i {
                    font-size: 36px;
                    line-height: 80px;
                }
             }
         }
    
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .why-us {
        padding: 10% 0;
    
        h2 {
            font-size: 30px;
        }
    
        p {
            font-size: 19px;
        }

        .text-icon {
           h3 {font-size: 25px;}
           p {font-size: 18px;}
            span:first-of-type {
               width: 80px;
               height: 80px;
               i {
                   font-size: 36px;
                   line-height: 80px;
               }
            }
        }
     
    
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
}

@media (min-width: 992px) and (max-width: 1399.98px) {
     
}



@media (min-width: 1200px) and (max-width: 1606px) {}


@media (min-width: 1200px) and (max-width: 1880px) {}

/*========== why-us ==========*/