// Fonts
@font-face {
  font-family: 'lightfont';
  src: url('../fonts/Somar-Light.otf') format('opentype'),
}

@font-face {
  font-family: 'boldfont';
  src: url('../fonts/Somar-Bold.otf') format('opentype'),
}