.navbar-light .navbar-nav .nav-link {
    color: #298030;
}

nav.navbar.main-navbar.mx-auto.navbar-expand-md.fixed-top.navbar-light.dark-light-color-bg {
    background: white;
}
.label_skitter h5{
        width: 62%;
    float: right;
}

a.btn.order-link.newmain-dark-color {
    background: #437c33;
}
.bg-transparent1 {
    background-color: snow!important;
}

.home .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #c39233 !important;
    background-color: transparent;
    border-bottom: 1px solid #c39233;
    border-radius: 0;
}

.home .portfolio .slick-dots .slick-active button::before {
    background-color:#3b7832;
    border: 1px solid #3b7832;
}
.padd {
    padding-right: 14px;
}
.image-holder {
    float: right;
    margin: 10px 0 10px 20px;
    -moz-margin-start: 0;
    -webkit-margin-start: 0;
}

.rr{
    color: #c39233;
}
.text-capitalize {
    text-transform: capitalize!important;
    color: #c39233;
}

.shorka
{
    background-color:#3b7832;
}
.main-color-dark-hover:hover {
    background-color: #cc9a31 !important;
    color: #fff !important;
    border-radius: 5px;
}

a.btn.order-link:hover {
  background-color: #cc9a31 !important;
    color: #fff !important;
    border-radius: 5px;
}

.carousel-caption {
    position: absolute;
    left: 0;
    bottom: 77px;
    right: 746px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #447d34;
    text-align: center;
}






button.btn.order-link.newmain-dark-color.text-white.btn-lg.main-color-dark-hover.rounded-0 {
    background: #377631;
    border-radius: 5px;
}
.main-color-text-hover:hover {
    color: #ffffff !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #d29f31;
    border-color: #d29f31;
}
footer .footer-title::after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: 0;
    width: 17%;
    height: 1px;
    background-color: #d29f30;
}

a {
    color: #dba82e;
    text-decoration: none;
    background-color: transparent;
}



.svg-container-element:hover {
    color: #fff !important;
    background-color: #ca9931 !important;
    box-shadow: 6.157px 7.88px 12.35px 0.65px rgba(35, 35, 35, 0.15);
}

.border-color {
    border-color: #c99833 !important;
}

.bagge{
        background-color: #447d34;
}


.home .portfolio .slick-dots .slick-active button::before {
    background-color: #ca9932;
    border: 1px solid #3b7832ك;
}

.home .portfolio .slick-dots .slick-active button::before {
    border: 1px solid #FFF;
}






.con-box-silder .box-home .ti {
    font-size: 2.2em;
    margin-right: 12%;
}
.con-box-silder .box-home .box-data-ti .bo-data {
    width: 16%;
    background: #fff;
    text-align: center;
    height: 90px;
    overflow: hidden;
}
.con-box-silder .box-home .box-data-ti .bo-data img {
    width: 40%;
    margin-top: 10px;
}
.con-box-silder .box-home .box-data-ti .bo-data h2 {
    font-size: 1.3em;
    color:#447d34;
}
.con-box-silder .box-home .box-data-ti .box-ti {
    width: 85%;
    background: #447d34;
    color: #fff;
    margin-top: -89px;
    margin-right: 17%;
    height: 90px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.con-box-silder .box-home .box-data-ti .box-ti img {
    width: 10%;
    position: relative;
    top: 10px;
    right: 2%;
}
.con-box-silder .box-home .box-data-ti .box-ti h2 {
    width: 100%;
    font-size: 1.4em;
    text-align: right;
    /* margin-top: 6px; */
    /* margin-right: 16%; */
    line-height: 25px;
    padding: 7px;
}

.watch {
    font-size: .9em;
    margin-top: 18px;
    margin-right: 31px;
}
.vist {
    font-size: .9em;
    margin-right: 182px;
        margin-top: -40px;
}


.con-box-silder .box-home .box-data-ti .box-ti:hover {
    background: #d09d32;;
    color: #fff;
}




.box-slider-1 {
    width: 100%;
    height: 390px;
    margin-top: 13px;
    overflow: hidden;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next
{
    
}
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -49%;
    background: #462048;
    opacity: 1;
    z-index: 1000;
    width: 42%;
    height: 38px;
    line-height: 38px;
    margin-top: 155px;
}



.paddingg {
    padding-bottom: 23px;
padding-left: 4px;    
}


.btn-outline-danger {
    color: #c89732;
    border-color: #cb9833;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #cd9a30;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.about .teams .team-slider .image-div:hover .hover-div {
    color: #fff;
    background-color: #c49234;
    transform: rotateX(360deg);
    transition: .5s;
    bottom: 20%;
}


.about .teams .slick-prev:before, .about .teams .slick-next:before {
    font-family: '"Font Awesome 5 Brands"';
    font-size: 35px;
    line-height: 0;
    border: 1px solid #c99832;
    padding-bottom: 10px;
}
.about .teams .slick-prev:hover, .about .teams .slick-next:hover {
    background-color: #588a38 !important;
}


.about .teams .slick-prev, .about .teams .slick-next {
   
    border: #d29f31;
    outline: #477f34;
    background: #d9a72e;
}


.home header .skitter .info_slide_dots .image_number.image_number_select {
    background-color: #d29f30;
    border: 1px solid #c99632;
}


section.news.con-box-silder {
    margin-bottom: 33px;
}

@media (max-width: 575.98px){

    {

    
    }
}