extends components/layout.pug
block title
  | اللغات
block main
  +breadcrumb-in-1('اللغات', 'اللغات', 'الرئسية', 'index.html')
  section.content
    .row
      .col-12
        .card.border
          .card-header.p-2
            +tabel-header("قائمة اللغات", '#modal7')
          // add modal
          .modal.fade#modal7(tabindex="-1", role="dialog", aria-labelledby="modal7", aria-hidden="true")
            .modal-dialog(role="document")
              .modal-content
                +modal-header("اضافة قسم  ")
                form
                  .modal-body
                    .form-group
                      label اسم اللغة
                      input.form-control(type="text")
                  +modal-footer("حفظ")
          // edit modal
          .modal.fade#modal8(tabindex="-1", role="dialog", aria-labelledby="modal8", aria-hidden="true")
            .modal-dialog(role="document")
              .modal-content
                +modal-header("تعديل القسم  ")
                form
                  .modal-body
                    .form-group
                      label اسم اللغة
                      input.form-control(type="text")

                +modal-footer("حفظ")
          .card-body
            include components/single-search
            table.table.table-bordered.table-striped
              thead
                tr
                  each value in ["الرقم", "اسم اللغة", "خيارات"]
                    th= value

              tbody
                - for (var x = 1; x <= 10; x++)
                  tr
                    each value in [x, "اسم اللغة"]
                      td= value
                    +tabel-option-nolink-sm("modal8", "")
            include components/pagination



