
// footer
footer.mt-4
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12.text-center.logo
        .logoin

      .col-md-12.col-sm-12.col-xs-12.text-center
        .links.pe-0
          div: a.text-dark.text-decoration-none.fw-bold(href="#") الرئيسية
          div: a.text-dark.text-decoration-none.fw-bold(href="#") عن الموقع
          div: a.text-dark.text-decoration-none.fw-bold(href="#") تنبيهات
          div: a.text-dark.text-decoration-none.fw-bold(href="#") الاشتراكات
          div: a.text-dark.text-decoration-none.fw-bold(href="#") اتصل بنا

  .footer2.py-2
    .container
      .row
        div(class="col-md-4 text-md-end text-center footer2_1")
          a.text-white.text-decoration-none.fw-bold(href="#", title="سياسة الخصوصية") سياسة الخصوصية
          span.mx-3 | &nbsp;
          a.text-white.text-decoration-none.fw-bold(href="#", title="اتفاقية الإستخدام") اتفاقية الإستخدام
        div(class="col-md-4 text-center footer2_2")
          a.text-white.text-decoration-none(class="icons fab fa-facebook", href="#")
          a.text-white.text-decoration-none.mx-3(class="icons fab fa-twitter", href="#")
          a.text-white.text-decoration-none(class="icons fab fa-whatsapp", href="#")
        div(class="col-md-4 text-md-start  text-center footer2_3")
          | All Rights Reserved to Msyar Online

// footer

include scripts