/* trainer page start */
main.trainer {
  /* header */
  header {
    background-color: var(--s-color);
    @include xs {padding: 30px 0 50px 0;}
    @include sm {padding: 30px 0 60px 0;}
    @include md {padding: 40px 0 80px 0;}
    @include lg {padding: 40px 0 130px 0;}
    .container {
      position: relative;
      z-index: 3;
    }
    .section-sm-title {
      color: var(--d-color);
    }
    .breadcrumb-item {
      a {
        color: #239edc;
        text-decoration: none;
        @include xs {font-size: 16px;}
        @include sm {font-size: 18px;}
        @include lg {font-size: 20px;}
      }
    }
    .breadcrumb-item.active {
      color: #111;
      @include xs {font-size: 16px;}
      @include sm {font-size: 18px;}
      @include lg {font-size: 20px;}
      &::before {
        color: #111;
      }
    }
    a.link {
      background-color: var(--m-color);
      color: #fff;
      text-decoration: none;
      @include xs {padding: 10px 10px; font-size: 15px;}
      @include sm {padding: 10px 15px;}
      @include lg {padding: 15px 25px;}
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      @include transition;
      &:hover{
        background-color: var(--d-color);
      }
    }
  }

  /* team-div */
  .team-div {
    position: relative;
    @include xs {padding: 10px; top: -60px;}
    @include sm {padding: 15px; top: -100px;}
    @include lg {padding: 25px; top: -180px;}
    border-radius: 8px;
    background-color: #fff;
    @include transition;
    box-shadow: 0px 0px 25px 0px rgb(51 51 51 / 20%);
    h5 {
      color: var(--d-color);
      @include xs {font-size: 20px;}
      @include sm {font-size: 22px;}
      @include lg {font-size: 25px}
      margin-top: 25px;
    }
    p {
      @include xs {font-size: 16px;}
      @include sm {font-size: 17px;}
      @include lg {font-size: 18px}
      font-weight: 500;
    }
    span {
      font-weight: 500;
      font-size: 20px;
      i {
        font-size: 16px;
      }
    }
    img {
      border-radius: 8px;
    }
    .link {
      background-color: var(--d-color);
      height: 0;
      overflow: hidden;
      width: 43px;
      bottom: 45px;
      height: 210px;
      @include xs {left: 13px;}
      @include sm {left: 17px;}
      @include lg {left: 26px;}
      @include xl {left: 27px;}
      border-radius: 50px;
      @include transition;
      z-index: 1;
      a {

        &:hover {
          i {
            font-size: 20px;
            color: var(--s-color)
          }
        }
        i {
          @include transition;
          font-size: 19px;
          color: #fff;
        }
      }
    }
    .fa-share-alt {
      background-color: var(--m-color);
      color: #fff;
      z-index: 2;
      position: relative;
      width: 50px;
      height: 50px;
      font-size: 18px;
      line-height: 2.8;
      @include xs {top: 30px;}
      @include sm {top: 35px;}
      @include lg {top: 45px;}
    }
  }

  /* trainer info */
  .trainer-info {
    position: relative;
    &::before {
      background-image: url(../images/home/pattern.png);
      opacity: .05;
      transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 2;
    }
    .trainer-info-data {
      position: relative;
      @include xs {padding: 10px; top: -60px;}
      @include sm {padding: 15px; top: -80px;}
      @include lg {padding: 25px; top: -140px;}
      border-radius: 8px;
      background-color: #fff;
    }
    .section-lg-title {
      @include xs {font-size: 18px;}
      @include sm {font-size: 20px;}
      @include lg {font-size: 25px}
    }
    .course-price {
      @include xs {font-size: 15px;}
      @include sm {font-size: 17px;}
      @include lg {font-size: 21px;}
    }
    .course-title {
        @include xs {font-size: 15px;}
        @include sm {font-size: 17px;}
        @include lg {font-size: 21px;}
    }

    /* skills */
    .skills {
      .skill {
        display: flex;
        justify-content: space-between;
        span {
          font-size: 18px;
        }
      }
      .progress {
        background-color: #239edc40;
        height: 10px;
        border-radius: 8px;
        .progress-bar {
          background-color: var(--m-color);
      }
      }
    }

    /* experiences */
    .experiences {
      .experience {
        @include xs {padding: 10px;}
        @include sm {padding: 20px;}
        @include sm {padding: 30px;}
        background-color: var(--g-color);
        text-align: center;
        border-radius: 8px;
        h6 {
          font-weight: 700;
          color: var(--d-color);
          margin-bottom: 0;
          @include xs {font-size: 25px;}
          @include sm {font-size: 30px;}
          @include lg {font-size: 45px}
        }
        p {
          margin: 0;
          @include xs {font-size: 14px;}
          @include sm {font-size: 16px;}
          @include lg {font-size: 18px}
        }
      }
    }
  }
}
/* home page end*/