// Bootstrap Bundle with Popper.js
script(src="./js/bootstrap.bundle.min.js")
//  jquery
script(type="text/javascript", src="./js/jquery-1.11.0.min.js")
//  jquery-migrate
script(type="text/javascript", src="./js/jquery-migrate-1.2.1.min.js")
//  slick slider
script(src="./js/slick.js")
// intlTelInput
script(src="./js/intlTelInput.js")
// AOS
script(src="./js/aos.js")
// polyfilled
script(src="./js/plyr.polyfilled.js")
//  main script
script(src="./js/main.js")