/*========== start globals ==========*/
:root {
    --m-color: #f62068;
    --d-color: #D4115A;
    --s-color: #39EECE;
    --g-color: #f8f8f8;
}

@font-face {
    font-family: 'lightfont';
    src: url('../fonts/Questv1-Regular.otf') format('opentype'),
}

@font-face {
    font-family: 'boldfont';
    src: url('../fonts/Questv1-Bold.otf') format('opentype'),
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'boldfont', sans-serif;
}

body {
    font-family: 'lightfont', sans-serif;
    // font-weight: 400;
    position: relative;
}

/* title-font */
.title-font {
    font-weight: 700;
}

@each $colorname, $color in
(m-color-text, var(--m-color)),
(d-color-text, var(--d-color)),
(s-color-text, var(--s-color)),
(g-color-text, var(--g-color))
{
    /* color-text */
    .#{$colorname} {
        color:#{$color};
    }
}

@each $colorname, $color in
(m-color-text-hover, var(--m-color)),
(d-color-text-hover, var(--d-color)),
(s-color-text-hover, var(--s-color)),
(w-color-text-hover, #fff),
(g-color-text-hover, var(--g-color))
{
    /* color-text-hover */
    .#{$colorname}:hover {
        color:#{$color} !important;
    }
}


@each $colorname, $color in
(m-color-bg, var(--m-color)),
(d-color-bg, var(--d-color)),
(s-color-bg, var(--s-color)),
(g-color-bg, var(--g-color))
{
    /* background-color */
    .#{$colorname} {
        background-color:#{$color};
    }
}

@each $colorname, $color in
(m-color-bg-hover, var(--m-color)),
(d-color-bg-hover, var(--d-color)),
(s-color-bg-hover, var(--s-color)),
(g-color-bg-hover, var(--g-color))
{
    /* background-color-hover */
    .#{$colorname}:hover {
        background-color:#{$color} !important;
    }
}

/* pointer */
.pointer {
    cursor: pointer;
}

.my-shadow {
    box-shadow: 0 0 30px rgb(51 51 51 / 10%);
}


.coustom-container {
    @include xs{max-width: 100%;}
    @include sm{max-width: 95%;}
    @include md{max-width: 95%;}
    @include lg{max-width: 95%;}
    @include xl{max-width: 95%;}
    @include xxl{max-width: 85%;}
}


@mixin transition {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.login-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--m-color);
    border-color: var(--m-color);
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    opacity: .4;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-link {
    position: relative;
    display: block;
    color: #222;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.user {
    .status {
      bottom: -10px;
      left: 20px;
      background-color: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 25px;
    }
  }